button {
  width: 250px;
  height: 80px;
  font-size: 35px;
  font-family: Roboto, sans-serif;
  /*font-weight:bold, el peso de la letra va a ser negrita*/
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  /*con pointer hacemos que el cursor muestre una manita cuando este sobre el cursor*/
  cursor: pointer;


}

/*para que cuando el cursor este sobre el boton el color cambie a otro*/
button:hover {
  background-color: #00471b;
}

.boton-clic {
  background-color: #002ead;
}

.boton-reiniciar {
  background-color: #5a01a7;
}